<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Chap30 Generics/src/sec06_exam_bounded_parameter_type/BoundedTypeParameterExample.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sec06_exam_bounded_parameter_type.BoundedTypeParameterExample"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Chap30 Generics"/>
</launchConfiguration>
