<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Chap15 exception handling/src/sec01_exam_runtime_exception/ClassCastExceptionExample.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sec01_exam_runtime_exception.ClassCastExceptionExample"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Chap15 exception handling"/>
</launchConfiguration>
