<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Chap12.abstract/src/sec01_exam_contentSender/SenderExample.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sec01_exam_contentSender.SenderExample"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Chap12.abstract"/>
</launchConfiguration>
