<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Chap31 Thread/src/sec13_exam_thread_stopflag/StopFlagExample.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sec13_exam_thread_stopflag.StopFlagExample"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Chap31 Thread"/>
</launchConfiguration>
